/*responsive design */
@media (min-width: 768px){
    .ps-md-3 {
      padding-left: 0rem!important;
    }
  
  }
   
@media (max-width: 768px) {
    .m-width{
      width: 90%!important;
    }
  }
  
@media (min-width:769px) and (max-width: 1024px) {
    .m-width{
      width: 80%!important;
    }
  }
  
  
  
  
  